:root{
    --main-color: teal;
    --main-color-gray: gray;
    --main-color-orange: orange;
    --main-color-white:white;
    --main-color-black: #1d1d1d;
    --main-color-danger: red;
    --main-color-succes: #2ba968;
    --main-color-succes: #212529;
    
}